<html lang="en">
<head>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
	<link href="style.css" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="split left no-gutters">
	</div>
	<div class="split right no-gutters">
		<form class="example" style="margin: auto; margin-top: 200px ;max-width: 400px" action="index.html">
				<input type="text" placeholder="Product_name"name="search">
			<button type="submit" >Search
			<i class="fa fa-search">		
			</i>
			</button><br>
		</form>
	</div>
	
</body>
</html>